<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>bread </title>
  </head>
  <body>
    <nav>
      <a href="/Homepage">Homepage</a>
      <a href="/bread">Bread</a>
      <a href="/rice">Rice</a>
      <a href="/shoes">Shoes</a>
      <a href="/taco">Taco</a>
    </nav>
<h1>Welcome to the bread page</h1>
<p>Bread is a staple food prepared from a dough of flour and water, usually by baking. Throughout recorded history it has been a prominent food in large parts of the world and is one of the oldest man-made foods, having been of significant importance since the dawn of agriculture.

Bread may be leavened by processes such as reliance on naturally occurring sourdough microbes, chemicals, industrially produced yeast, or high-pressure aeration. Commercial bread commonly contains additives to improve flavor, texture, color, shelf life, nutrition, and ease of manufacturing.

Bread plays essential roles in religious rituals and secular culture.</p>

<img src="https://cdn.shopify.com/s/files/1/1205/7170/products/tinywhite_7bbbee20-b41f-477e-97d5-9103704c9975_530x.png?v=1489000542" alt="bread">

<h2>types of bead  </h2>
<p>Bread is the staple food of the Middle East, Central Asia, North Africa, Europe, and in European-derived cultures such as those in the Americas, Australia, and Southern Africa, in contrast to parts of South and East Asia where rice or noodle is the staple.

<p>Bread is usually made from a wheat-flour dough that is cultured with yeast, allowed to rise, and finally baked in an oven. The addition of yeast to the bread explains the air pockets commonly found in bread. Owing to its high levels of gluten (which give the dough sponginess and elasticity), common or bread wheat is the most common grain used for the preparation of bread, which makes the largest single contribution to the world's food supply of any food.</p>


<p>Strucia - a type of European sweet bread
Bread is also made from the flour of other wheat species (including spelt, emmer, einkorn and kamut). Non-wheat cereals including rye, barley, maize (corn), oats, sorghum, millet and rice have been used to make bread, but, with the exception of rye, usually in combination with wheat flour as they have less gluten.</p>

<p>Gluten-free breads have been created for people affected by gluten-related disorders such as coeliac disease and non-coeliac gluten sensitivity, who may benefit from a gluten-free diet. Gluten-free bread is made with ground flours from a variety of materials such as almonds, rice, sorghum, corn, or legumes such as beans, but since these flours lack gluten they may not hold their shape as they rise and their crumb may be dense with little aeration. Additives such as xanthan gum, guar gum, hydroxypropyl methylcellulose (HPMC), corn starch, or eggs are used to compensate for the lack of gluten.</p>


  </body>
</html>
